<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Fléshi
        {% endblock %}</title>
</head>
{% block body %}
<body>
    <h1>Fléshi</h1>

    {% block form %}
        <form method="post">
        {{ form.csrf_token }}
        {{ form.email.label() }}
        {{ form.email() }}

        {{ form.password.label() }}
        {{ form.password() }}

        {{ form.submit() }}
        </form>
    {% endblock %}
</body>
{% endblock %}
</html>