{% extends "homepage.html" %}

{% block title %}
    Perfil - {{ username }}
{% endblock %}

{% block body %}
    <body>
        {% include "navbar.html" %}
        <h1>Perfil do usuário: {{ user.username }}</h1>

        {% if form %}
            <form method="post" enctype="multipart/form-data">
                {{ form.csrf_token }}

                {{ form.photo() }}
                {{ form.submit() }}
            </form>
        {% endif %}

        {% for photo in user.photos %}
            <img src="{{ url_for('static', filename='posts_photos/'~ photo.file_name) }}" alt="''~ photo.file_name">
        {% endfor %}
    </body>
{% endblock %}